<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page"  >
  <ion-card>
    <img src="assets/leao.jpg" alt="">
    <div class="card-title">Lion Music</div>
    <div class="card-subtitle">Sempre com você</div>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-item class="ionactvated" (click)="exibirGuitarra()">
        <div class="ion-text-center">
          <img src="assets/guitarra.jpg" alt="">
          <h3>Guitarra</h3>
        </div>

      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="ionactvated" (click)="exibirClarinete()">
        <div class="ion-text-center">
          <img src="assets/clarinete_yamaha.jpg" alt="">
          <h3>clarinete</h3>
        </div>

      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-item class="ionactvated" (click)="exibirTrombone()">
        <div class="ion-text-center">
          <img src="assets/Trombone.jpg" alt="">
          <h3>Trombone</h3>
        </div>

      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="ionactvated" (click)="exibirViolao()">
        <div class="ion-text-center">
          <img src="assets/violao.jpg" alt="">
          <h3>Violão</h3>
        </div>

      </ion-item>
    </ion-col>

  </ion-row>


</ion-content>