<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-item>
      <ion-label position="floating"> Digite o valor1</ion-label>
      <ion-input [(ngModel)]="valor1 "></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Digite o valor2</ion-label>
      <ion-input [(ngModel)]="valor2 "></ion-input>
    </ion-item>
<ion-button (click)="calculo"></ion-button>

</ion-content>